html {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.nav {
    background-image: url("../images/the-flatiron-building.png");
}

.nav a {
  font-size: 18px;
  color: white;
}

.newyork {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.process h2 {
  font-size: 23px
  font-weight: bold;
}

.process p {
  font-size: 14px;
}

footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

a {
  color: white;
}

.copyright {
  font-size: 11px;
}
